body{
    background-color: #282A3A;
}
.navbar:hover{
    background-color: #e3f2fd;
}
.Body-content{
    margin-top: 20px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.card{
    background-color: #CFF5E7;
}
.footer{
    background-color: #577BC1;
}

